build/*
*.swp
*.DS_Store
Doxyfile
*.vpp~1
*.o
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.nav
*.snm
*.tex.backup
*.vrb
*.vpp~*
*vpp.working
se2p_2_3/.settings/
se2p_2_3/.cproject
se2p_2_3/x86/o/se2p_2_3
se2p_2_3/x86/o-g/
se2p_2_3/x86/
192.168.100.100/.trgtproject
192.168.100.100/.project
